/* Styles! */


/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
}

button {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    max-width: 100px;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

section {
    width: 100%;
}

img {
    height: auto;
    width: 400px;
}

/* Header Styles */

.header {
    display: flex;
    justify-content: space-around;
    padding: 18px 0;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.navigation {
    display: flex;
    gap: 32px;
}

/* Hero Styles */

.hero {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 100px 0px;
    gap: 50px;
}

.hero-text {
    display: flex;
    flex-flow: column wrap;
    max-width: 40%;
    gap: 24px;
    margin: 0px;
    justify-content: center;
}

.hero-main-text {
    font-size: 42px;
    font-weight: 900;
    color: #f9faf8;
    padding: 0;
    line-height: 150%;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}


/* Info Styles */

.info {
    background-color: white;
    padding: 100px 0px;
}

.info-text {
    font-size: 36px;
    color: #1F2937;
    font-size: 900;
    text-align: center;
    padding-bottom: 48px;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 36px;
}

.info-item {
    max-width: 300px;
}

.info-item img {
    max-width: 300px;
    height: auto;
}


/* Quote Styles */

.quote {
    background-color: #e5e7eb;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote-container {
    display: flex;
    flex-flow: column wrap;
    max-width: 650px;
    gap: 18px;
}

.quote-name {
    align-self: flex-end;
    font-size: 18px;
}


/* Footer Styles */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 16px;
}