/* Styles! */


/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
}

button {
    background-color: #3882f6;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
}

img {
    height: auto;
    width: 25%;
}

a {
    font-size: 18px;
    color: #e5e7eb;
}


/* Header Styles */

.logo {
    font-size: 24px;
    color: #f9faf8;
}


/* Hero Styles */

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}


/* Info Styles */

.info {
    background-color: white;
}

.info-text {
    font-size: 36px;
    color: #1F2937;
    font-size: 900;
}


/* Quote Styles */

.quote {
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}


/* Footer Styles */

.footer {
    color: white;
}